app:
  name: Webdiet Frontend Service
  version: dev

logging:
  file:
    path: ./logs

route:
  url:
    backend: http://localhost:8090/api

jwt:
  cookie:
    expiration:
      seconds: 3600
keycloak:
  authorization-endpoint: /oauth2/authorization/keycloak
spring:
  application:
    name: webdiet-frontend-service
  security:
    oauth2:
      client:
        registration:
          keycloak:
            client-id: webdiet-ui
            client-secret: 6yrKrlQmW1rQUtiogHx2wSz7h4DmkQRB
            authorization-grant-type: authorization_code
            scope: openid, profile
        provider:
          keycloak:
            issuer-uri: http://localhost:8081/realms/webdiet
            user-name-attribute: preferred_username
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8081/realms/webdiet
