app:
  name: Webdiet Frontend Service
  version: 2.0.0

logging:
  file:
    path: ./logs

route:
  url:
    backend: http://localhost:8090/api

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka

jwt:
  cookie:
    expiration:
      seconds: 3600

spring:
  application:
    name: webdiet-frontend-service
  security:
    oauth2:
      client:
        registration:
          webdiet-client-oidc:
            provider: spring
            client-id: webdiet
            client-secret: webdiet-secret
            authorization-grant-type: authorization_code
            redirect-uri: "http://127.0.0.1:8080/login/oauth2/code/{registrationId}"
            scope: openid, profile
            client-name: webdiet-client-oidc
        provider:
          spring:
            jwk-set-uri: http://auth-server:8888/jwk
server:
  port: 8080
